<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianqian.user.mapper.AccountRecordMapper" >
  <resultMap id="BaseResultMap" type="com.qianqian.user.model.AccountRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="experience_value" property="experienceValue" jdbcType="VARCHAR" />
    <result column="ingot" property="ingot" jdbcType="VARCHAR" />
    <result column="medal" property="medal" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="source" property="source" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, score, experience_value, ingot, medal, record_time, source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qianqian.user.model.AccountRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mem_account_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mem_account_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mem_account_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianqian.user.model.AccountRecordExample" >
    delete from mem_account_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qianqian.user.model.AccountRecord" >
    insert into mem_account_record (id, user_id, score, 
      experience_value, ingot, medal, 
      record_time, source)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{score,jdbcType=VARCHAR}, 
      #{experienceValue,jdbcType=VARCHAR}, #{ingot,jdbcType=VARCHAR}, #{medal,jdbcType=VARCHAR}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qianqian.user.model.AccountRecord" >
    insert into mem_account_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
       id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="experienceValue != null" >
        experience_value,
      </if>
      <if test="ingot != null" >
        ingot,
      </if>
      <if test="medal != null" >
        medal,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        uuid_short(),
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="experienceValue != null" >
        #{experienceValue,jdbcType=VARCHAR},
      </if>
      <if test="ingot != null" >
        #{ingot,jdbcType=VARCHAR},
      </if>
      <if test="medal != null" >
        #{medal,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianqian.user.model.AccountRecordExample" resultType="java.lang.Integer" >
    select count(*) from mem_account_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mem_account_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceValue != null" >
        experience_value = #{record.experienceValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ingot != null" >
        ingot = #{record.ingot,jdbcType=VARCHAR},
      </if>
      <if test="record.medal != null" >
        medal = #{record.medal,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null" >
        record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mem_account_record
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      score = #{record.score,jdbcType=VARCHAR},
      experience_value = #{record.experienceValue,jdbcType=VARCHAR},
      ingot = #{record.ingot,jdbcType=VARCHAR},
      medal = #{record.medal,jdbcType=VARCHAR},
      record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      source = #{record.source,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianqian.user.model.AccountRecord" >
    update mem_account_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="experienceValue != null" >
        experience_value = #{experienceValue,jdbcType=VARCHAR},
      </if>
      <if test="ingot != null" >
        ingot = #{ingot,jdbcType=VARCHAR},
      </if>
      <if test="medal != null" >
        medal = #{medal,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianqian.user.model.AccountRecord" >
    update mem_account_record
    set user_id = #{userId,jdbcType=BIGINT},
      score = #{score,jdbcType=VARCHAR},
      experience_value = #{experienceValue,jdbcType=VARCHAR},
      ingot = #{ingot,jdbcType=VARCHAR},
      medal = #{medal,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>