<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"
	default-lazy-init="true">
	<!--账户操作切面对象 -->
	<bean id="accountAspect" class="com.qianqian.common.aop.AccountAspect">
		<!-- 配置切入的方法名 直接写接口的方法名即可 -->
		<property name="methods">
			<map>
				<!-- 用户签到操作 -->
				<entry key="com.qianqian.user.service.ISignInService.saveSignIn">
					<!-- 签到动作 -->
					<bean class="com.qianqian.common.aop.AccountChange">
						<property name="action" value="签到"></property>
						<!-- 积分 -->
						<property name="score" value="20"></property>
						<property name="socreDayLimit" value="500"></property>
						<property name="socreMonthLimit" value="1000"></property>
						<!-- 体验值 -->
						<property name="experience" value="5"></property>
						<property name="experienceDayLimit" value="100"></property>
						<property name="experienceMonthLimit" value="1000"></property>
						<!-- 体验宝 -->
						<property name="ingot" value="1"></property>
						<property name="ingotDayLimit" value="5"></property>
						<property name="ingotMonthLimit" value="30"></property>
						<!-- 勋章 -->
						<property name="medal" value="1"></property>
						<property name="medalDayLimit" value="10"></property>
						<property name="medalMonthLimit" value="60"></property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>


	<!--账户操作切面配置 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.qianqian.user.service.*.*(..))"
			id="accountPointcut" />
		<aop:aspect id="accountAspect" ref="accountAspect" order="110">
			<aop:around method="doAround" pointcut-ref="accountPointcut" />
			<aop:after-throwing method="doThrowing"
				pointcut-ref="accountPointcut" throwing="ex" />
		</aop:aspect>
	</aop:config>


</beans>